.footer{
    padding: 2rem 0;
    background-color: $grisOscuro;
    margin: 0;

    .contenedor-footer{
        padding-top: 2rem;
        
    }
}

.navegacion{
    visibility: visible;
    opacity: 1;
}

.copyright{
    color: $blanco;
    text-align: center;
}